<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navigation">
          <div class="navbar-option">
            <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
            {% if current_user.is_authenticated %}
              <a class="nav-item nav-link" href="{{ url_for('saved_passwords') }}">Passwords</a>
              <a class="nav-item nav-link" href="{{ url_for('new_password') }}">Add new password</a>
            {% endif %}
          </div>
          <div class="navbar-option">
            {% if current_user.is_authenticated %}
              <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
              <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
              <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
            {% endif %}
          </div>
      </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>