{% extends "layout.html" %}
{% block content %}
<div>
    <form method="POST" action="">
        {{form.hidden_tag()}}
            <div>
                {{ form.site_name.label() }}

                {% if form.site_name.errors %}
                    {{ form.site_name() }}
                    <div>
                        {% for error in form.site_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.site_name() }}
                {% endif %}
            </div>
            <div>
                {{ form.password.label() }}
                {% if form.password.errors %}
                    {{ form.password() }}
                    <div>
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password() }}
                {% endif %}
            </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</div>
{% endblock content %}
