{% extends "layout.html" %}
{% block content %}
    <script>
        function copy_password(url) {
            fetch(url)
            .then(res => res.json())
            .then(data => {
                password = data.password
                navigator.clipboard.writeText(password);
            })
        }
    </script>

    <h1>Saved passwords</h1>
    {% for password in saved_passwords %}
          <div class="password">
              <span>{{ password.site_name}}</span>
              <button onClick="copy_password('{{ url_for('get_password', password_id=password.id) }}')">COPY</button>
          </div>
    {% endfor %}
{% endblock content %}